@charset "utf-8";
/* CSS Document */

/*公共：顶部导航条*/
.navbar{ background:#FFF; box-shadow:0 2px 9px 4px #EBECED;}
.input-group img{ width:16px; height:16px;}
.input-group .input-group-addon{ cursor:pointer;}

.nav li{ border-left:1px solid #EBEBEB; line-height:30px;}
.nav li a.dt-registered{ color:#FF4466;}
.nav li a.dt-registered:hover{  background:#FF4466; border-radius:5px;  color:#FFF; }

/*专属：头像*/
.my_head { margin-top:100px;}
.my_head img{ width:200px;}
.my_head h3{ font-size:22px; line-height:22px;}
.my_head h4{ font-size:14px; color:#666; line-height:14px;}